* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5; }

header {
  width: 60%;
  margin: auto;
  text-align: center; }

.fontTitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: hotpink; }

.listCont {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column; }
  .listCont .newTask {
    display: flex; }
    .listCont .newTask input {
      height: 2rem; }
